<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <style type='text/css'>
            name
            {
            clear: none;
            position: relative; 
            top:20px;
            left:40px;
            }
            h4 
            {
           right:0;
           position: absolute;
            height:5px;
            width: 100px;
            float: left;
            }
            des{
                background-color: blue;
            }
        </style>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id ='name' >Track record write content
            <h4><?php  echo $msg ;?></h4>
        </div>
      <div>
          <fieldset>
              <label id='des' >What have you done? </label>
              
          </fieldset>
            
        </div>
            
            
        
    </body>
</html>
